﻿@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-gorup">
                <label asp-for="Seller.Name" class="control-label">Nome:</label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>
            <div class="form-gorup">
                <label asp-for="Seller.Email" class="control-label">E-mail:</label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div class="form-gorup">
                <label asp-for="Seller.BirthDate" class="control-label">Birth:</label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>
            <div class="form-gorup">
                <label asp-for="Seller.BaseSalary" class="control-label">BaseSalary:</label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label">Department:</label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Create">
            </div>
        </form>
    </div>
</div>